@import "primeicons/primeicons.css";
body{
    font-family: system-ui;
}

::-webkit-scrollbar {
    width: 3px;
  }
   
::-webkit-scrollbar-track {
  }
   
::-webkit-scrollbar-thumb {
    background-color: #b8b8b8;
}

a {
    text-decoration: none;
    color: #0947d4;
}

a:hover {
    color: #0947d4;
    text-decoration: none;
}

.form-control:focus {
    color: #333333;
    background-color: #FFFFFF;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.divider {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    margin: 1rem 0;
}

.divider .divider-text {
    position: relative;
    display: inline-block;
    font-size: 0.9375rem;
    padding: 0 1rem;
}

.divider .divider-text:before, .divider .divider-text:after {
    content: '';
    position: absolute;
    top: 50%;
    width: 9999px;
    border-top: 1px solid #ebe9f1;
}

.divider .divider-text:before {
    right: 100%;
}

.divider .divider-text:after {
    left: 100%;
}

.cursor-pointer{
    cursor: pointer;
}

.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
    border-color: #CA0000;
    box-shadow: none;
}

.card-header {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    color: #333333;
    background-color: #fefefe;
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
}

.card-footer {
    padding: 0.5rem 1rem;
    color: #333333;
    background-color: #fefefe;
    border-top: 1px solid rgba(0, 0, 0, 0.175);
}

@media (max-width: 992px) {
    .navbar-backgroundColor {
        padding: 8px 1rem;
    }

    .logo-svg {
        font-size: 1.2rem;
    }

    .logo-title {
        font-size: 1rem;
    }

    .input-group-merge {
        margin-right: 1rem;
    }

    .cart-card {
        width: 70%;
        right: 5%;
    }
}

@media (max-width: 768px) {
    .navbar-backgroundColor {
        padding: 8px 0.5rem;
    }

    .logo-svg {
        font-size: 1.1rem;
    }

    .logo-title {
        font-size: 0.9rem;
    }

    .input-group-merge {
        display: none; 
    }

    .test .input-group-merge {
        display: block; 
    }

    .cart-card {
        width: 90%;
        right: 5%;
    }

    img{
        width: 100%;
    }

    .cart-count{
        top: -4px !important;
        right: -7px !important;
    }
}